/* 폰트 적용 시작 */
@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'MapoFlowerIsland';
}

/* 폰트 적용 끝 */

/* 노말라이즈 시작 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.con-min-width {
  min-width: 1200px;
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
  ;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ai-s {
  align-self: center;
}

/* 성장성 부여 */
.flex-grow-1 {
  flex-grow: 1;
}

/* 성장성 부여 */
.flex-1-0-0 {
  flex: 1 0 0;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

.height-100p {
  height: 100%;
}

.height-100vh {
  height: 100vh;
}

.min-height-100vh {
  min-height: 100vh;
}

.img-box>img {
  width: 100%;
  display: block;
}

.bg-red {
  background-color: red;
}

.bg-gold {
  background-color: gold;
}

.bg-blue {
  background-color: blue;
}

.border-box {
  box-sizing: border-box;
}

@media (max-width:700px) {
  .visible-md-up {
    display: none;
  }
}

@media (min-width:701px) {
  .visible-sm-down {
    display: none;
  }
}

/* 라이브러리 끝 */

/* 커스텀 시작 */
:root {
  --site-width: 1200px;
}

.con {
  max-width: var(--site-width);
  width: 1200px;
}


/* 로고 시작*/
.logo {
  text-align: center;
  font-size: 1.5rem;
  display: flex;
}


.logo>span:last-child {
  white-space: nowrap;
  font-weight: bold;
  margin-left: 5px;
}

/* 로고 끝*/

/* 탑바 시작 */
.top-bar {
  height: 100px;
  background-color: skyblue;
  color: white;
}

.top-bar__menu>ul>li {
  flex: 1 0 0;
}

.top-bar__menu>ul>li>a {
  color: white;
  font-size: 20px;
  line-height: 100px;
  font-weight: bold;
  padding: 0 20px;
  margin: 0 10px;
  white-space: nowrap;
  display: block;

}

.top-bar__menu>ul>li:hover>a {
  background-color: pink;
  color: white;

}

.top-bar__menu>ul>li>a>span:first-child {
  margin-right: 10px;
}

/* 탑바 끝 */

/* 모바일 탑바 시작*/

:root {
  --mobile-top-bar__height: 70px;
}

.mobile-top-bar {
  background-color: skyblue;
  color: white;
  height: var(--mobile-top-bar__height);
}


.mobile-top-bar .logo {
  display: flex;
  align-items: center;
}

:root {
  --mobile-top-bar__btn-toggle-side-bar__dur: .3s;
}

.mobile-top-bar__btn-toggle-side-bar {
  width: 25px;
  height: 25px;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.mobile-top-bar__btn-toggle-side-bar>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: white;
  transition: top var(--mobile-top-bar__btn-toggle-side-bar__dur), transform var(--mobile-top-bar__btn-toggle-side-bar__dur), opacity var(--mobile-top-bar__btn-toggle-side-bar__dur);
  border-radius: 2px;
}

.mobile-top-bar__btn-toggle-side-bar>div:nth-child(2) {
  top: 40%;
}

.mobile-top-bar__btn-toggle-side-bar>div:nth-child(3) {
  top: 80%;
}

.mobile-top-bar__btn-toggle-side-bar.active>div:nth-child(1),
.mobile-top-bar__btn-toggle-side-bar.active>div:nth-child(3) {
  top: 40%;
  transform: rotate(-45deg);
}

.mobile-top-bar__btn-toggle-side-bar.active>div:nth-child(3) {
  transform: rotate(45deg);
}

.mobile-top-bar__btn-toggle-side-bar.active>div:nth-child(2) {
  opacity: 0;
}

/* 모바일 탑바 끝/

/* 모바일 사이드 바 시작 */
.mobile-side-bar {
  position: fixed;
  top: var(--mobile-top-bar__height);
  left: -100%;
  width: 100%;
  bottom: 0;
  color: white;
  background-color: skyblue;
  transition: left .3s;
  display: flex;
  align-items: center;
}

.mobile-side-bar.active {
  left: 0;
}

.mobile-side-bar__menu-box {
  width: 100%;
  margin-bottom: var(--mobile-top-bar__height);
}

.mobile-side-bar__menu-box>ul>li>a {
  padding: 15px;
  text-align: center;
  font-size: 1.3rem;
  display: block;
}

.mobile-side-bar__menu-box>ul>li:hover>a {
  background-color: pink;
  color: balck;
}

/* 커스텀 끝 */

/* 토스트 ui 시작 */
.toast-ui-youtube-plugin-wrap {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.toast-ui-youtube-plugin-wrap>iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toast-ui-youtube-plugin-wrap::before {
  content: "";
  display: block;
  padding-top: calc(100% / 16 * 9);
}

.toast-ui-codepen-plugin-wrap>iframe {
  width: 100%;
}

/* 토스트 ui 끝 */

/* 하단 바 시작 */
.bottom-bar {
  background-color: skyblue;
  color: white;
}

.bottom-bar>.con {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 하단 바 끝 */

/* 바디 콘텐트 시작 */
.body-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-content>main {
  flex-grow: 1;
}

/* 바디 콘텐트 끝 */

/* 메인 시작 */
.section-latest-articles {
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-list-box > ul > li {
  border:2px solid black;
  padding:20px;
  border-radius:20px;
  margin-top:20px;
}

/* 메인 끝 */